* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-grey);
  margin: 0;
  padding: 0;
}

html {
  --primary: hsl(4, 100%, 67%);
  --dark-grey: hsl(234, 29%, 20%);
  --charcoal: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.desktopImg {
  display: none;
}

.innerCont {
  width: 327px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
}

.mainHeader {
  font-size: 40px;
  margin-bottom: 24px;
}

.text {
  margin-bottom: 25px;
}

.unlisted {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.listItem {
  display: flex;
  gap: 17px;
  align-items: flex-start;
}

.listText {
  margin: 0;
}

.emailForm {
  display: flex;
  flex-direction: column;
}

.emailAndError {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.emailLabel {
  font-size: 14px;
  font-weight: 700;
}

.error {
  font-size: 14px;
  color: var(--primary);
  margin: 0;
}

.errorInput {
  background-color: hsla(4, 100%, 67%, 0.289);
  color: var(--primary); 
}

.errorInput::placeholder {
  color: var(--primary);
}

.emailInput {
  padding: 18px;
  border-radius: 10px;
  border: 1px solid var(--grey);
  font-size: 15px;
  margin-bottom: 24px;
  letter-spacing: 0.5px;
}

.btn {
  padding: 18px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid var(--dark-grey);
  background: var(--dark-grey);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
  width: 100%;
}

.success {
  width: 323px;
  margin: 30px auto 30px auto;
}

.successIcon {
  width: 64px;
  margin-top: 120px;
}

.successEmail {
  font-weight: 700;
  align-self: flex-end;
}

.successBtn {
  margin-top: 235px;
}

@media screen and (min-width: 1440px) {
  body {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .formContainer {
    background-color: var(--white);
    padding: 24px 24px 24px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
  }

  .innerCont {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  .mainHeader {
    font-size: 45px;
  }

  .text {
    margin-bottom: 30px;
  }

  .unlisted {
    margin-bottom: 40px;
  }

  .desktopImg {
    display: block;
  }

  .mobileImg {
    display: none;
  }

  .success {
    width: 505px;
    background-color: var(--white);
    border-radius: 30px;
    padding: 50px 65px;
  }

  .successIcon {
    margin-top: 0;
  }

  .desktopSuccessHeader {
    margin-top: 40px;
    font-size: 55px;
  }

  .successText {
    margin-bottom: 40px;
  }

  .successBtn {
    margin-top: 0;
    margin-bottom: 0;
  }

  
}
